html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* overflow-x: hidden; */
  background-color: #f8f9fb;
  position: relative;
}
@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.textStyles blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

.textStyles h1 {
  font-size: 6em;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
}
.textStyles h2 {
  font-size: 4em;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
}
.textStyles h3 {
  font-size: 3em;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
}
.textStyles h4 {
  font-size: 2em;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
}
.textStyles button {
  font-size: 1.5em !important;
}
.textStyles button:hover {
  filter: brightness(1.1);
}
.textStyles button:active {
  filter: brightness(0.9);
  margin-top: 1px !important;
  box-shadow: none !important;
}
.textStyles h5 {
  font-size: 1.5em;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
}
.textStyles h6 {
  font-size: 1.2em;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
}
.textStyles .ql-align-center {
  text-align: center;
}
.textStyles .ql-align-justify {
  text-align: justify;
}
.textStyles .ql-align-right {
  text-align: right;
}
.mobile {
  display: none !important;
}
.desktop {
  display: grid !important;
}
@media (max-width: 900px) {
  .textStyles h1 {
    font-size: 9em;
  }
  .textStyles h2 {
    font-size: 6em;
  }
  .textStyles h3 {
    font-size: 5em;
  }
  .textStyles h4 {
    font-size: 4em;
  }
  .textStyles button,
  .textStyles h5 {
    font-size: 3em;
  }

  .textStyles h6 {
    font-size: 2.5em;
  }
  .mobile {
    display: grid !important;
  }
  .desktop {
    display: none !important;
    font-size: 13px;
  }
}
@media (max-width: 700px) {
  .textStyles h1 {
    font-size: 9em;
  }
  .textStyles h2 {
    font-size: 6em;
  }
  .textStyles h3 {
    font-size: 5em;
  }
  .textStyles h4 {
    font-size: 4em;
  }
  .textStyles button,
  .textStyles h5 {
    font-size: 3em;
  }
  .textStyles h6 {
    font-size: 2.3em;
  }
  .mobile {
    display: grid !important;
  }
  .desktop {
    display: none !important;
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .textStyles h1 {
    font-size: 7em;
  }
  .textStyles h2 {
    font-size: 5em;
  }
  .textStyles h3 {
    font-size: 4em;
  }
  .textStyles h4 {
    font-size: 3em;
  }
  .textStyles button,
  .textStyles h5 {
    font-size: 2.5em;
  }
  .textStyles h6 {
    font-size: 1.9em;
  }
  .mobile {
    display: grid !important;
  }
  .desktop {
    display: none !important;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .textStyles h1 {
    font-size: 6.5em;
  }
  .textStyles h2 {
    font-size: 4.5em;
  }
  .textStyles h3 {
    font-size: 3.5em;
  }
  .textStyles h4 {
    font-size: 2.5em;
  }
  .textStyles button,
  .textStyles h5 {
    font-size: 2em;
  }
  .textStyles h6 {
    font-size: 1.6em;
  }
  .mobile {
    display: grid !important;
  }
  .desktop {
    display: none !important;
    font-size: 13px;
  }
}
@media (max-width: 450px) {
  .textStyles h1 {
    font-size: 6em;
  }
  .textStyles h2 {
    font-size: 4em;
  }
  .textStyles h3 {
    font-size: 3em;
  }
  .textStyles h4 {
    font-size: 2em;
  }
  .textStyles button,
  .textStyles h5 {
    font-size: 1.7em;
  }
  .textStyles h6 {
    font-size: 1.4em;
  }
  .mobile {
    display: grid !important;
  }
  .desktop {
    display: none !important;
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .textStyles h1 {
    font-size: 5.5em;
  }
  .textStyles h2 {
    font-size: 3.5em;
  }
  .textStyles h3 {
    font-size: 2.5em;
  }
  .textStyles h4 {
    font-size: 1.8em;
  }
  .textStyles button,
  .textStyles h5 {
    font-size: 1.5em;
  }
  .textStyles h6 {
    font-size: 1.3em;
  }
  .mobile {
    display: grid !important;
  }
  .desktop {
    display: none !important;
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .textStyles h1 {
    font-size: 5em;
  }
  .textStyles h2 {
    font-size: 3em;
  }
  .textStyles h3 {
    font-size: 2em;
  }
  .textStyles h4 {
    font-size: 1.7em;
  }
  .textStyles button,
  .textStyles h5 {
    font-size: 1.2em;
  }
  .textStyles h6 {
    font-size: 1.2em;
  }
  .mobile {
    display: grid !important;
  }
  .desktop {
    display: none !important;
    font-size: 13px;
  }
}
